{% load static %}
{% load i18n %}
<footer>
    <img src="{% static 'img/background/image-footer.svg' %}" alt="{% blocktranslate with shop=SHOP_NAME %}{{ shop }} logo{% endblocktranslate %}" class="footer__hops-logo">
    <nav class="footer__nav">
        <ul>
            <li><a href="#">{% translate "Contact" %}</a></li>
            <li><a href="#">{% translate "FAQ" %}</a></li>
            <li><a href="#">{% translate "Community" %}</a></li>
            <li><a href="#">{% translate "Resources" %}</a></li>
            <li><a href="#">{% translate "License" %}</a></li>
        </ul>
    </nav>
    <p class="footer__copyright">&copy; {{ SHOP_NAME }} {% now "Y" %}. {% translate "All rights reserved" %}</p>
</footer>