{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Password Changed" %}{% endblock %}

{% block content %}
<main class="static-page-wrapper">
    <div class="container">
        <div class="static-page-content">
            <h1 class="static-page-title">{% translate "Password changed" %}</h1>
            <p class="static-page-subtitle">{% translate "Success" %}</p>
            <div class="static-page-text">
                <p>{% translate "Your password has been changed successfully." %}</p>
            </div>
            <a href="{% url 'accounts:profile' %}" class="button button--primary">{% translate "Back to My Account" %}</a>
        </div>
    </div>
</main>
{% endblock %}
